/* extra.css */

/* 改变导航栏背景颜色 */
.md-nav {
  background-color: #2BA245;
}

/* 改变导航栏链接颜色 */
.md-nav__link {
  color: #FFFFFF; /* 白色文字 */
}

/* 改变导航栏链接悬停颜色 */
.md-nav__link:hover {
  background-color: #1E7F35; /* 深绿色背景 */
}

/* 改变活动链接颜色 */
.md-nav__link--active {
  color: #FFFFFF; /* 白色文字 */
  background-color: #2BA245;
}

/* 改变顶部导航栏背景颜色 */
.md-header {
  background-color: #2BA245;
}

/* 改变顶部导航栏文字颜色 */
.md-header__title, .md-header__link {
  color: #FFFFFF; /* 白色文字 */
}

/* 改变按钮颜色 */
.md-button {
  background-color: #2BA245;
  color: #FFFFFF; /* 白色文字 */
}
